.comment {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    font-size: 11px;
}

.comment-image {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
};

.comment-info {
    flex: 1;
    margin-right: 20px;
}

.comment-username {
    color: #ccc;
}

.comment-comment {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: break-word;
}

.comment-time {
    align-items: center;
}

.animate-out .comment {
    opacity: 0 !important;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.timed .comment {
    animation-name: animateIn;
    animation-duration: 360ms;
    animation-timing-function: ease;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes animateIn {
   from {
       transform: translateX(200px);
       opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.song-comment {
    flex: 1;
    width: 100%;
    padding: 0.2rem;
    border-top: 1px solid #e8e8e8;
    overflow-x: hidden;
    @include flex(flex-start, flex-start);
    &-img {
        @include size(50px, 50px);
        @include border-radius(5px, 5px, 5px, 5px);
        background-size: cover;
        padding: 5px;
        &.placeholder {
            padding: 0;
            background-color: $grey-off-white;
        }
    }
    &-body {
        @include flex(flex-start, flex-start, column);
        padding: 5px;
        &-user {
            margin-bottom: 2px;
            font-size: 0.95rem;
            font-weight: 500;
            &.placeholder {
                height: 0.9rem;
                width: 10rem;
                margin-bottom: 5px;
                background-color: $grey-off-white;
            }
        }
        &-text {
            font-size: 0.9rem;
            &.placeholder {
                width: 30rem;
                height: 0.8rem;
            }
        }
    }
}
