.nav {
    height: 60px;
    box-shadow: $container-shadow;

    .container {
        height: 100%;
        @include flex(center, space-between);
    }
    &-bg {
        background-color: #444;
    }
    &-left {
        flex: 1;
        @include flex(center, flex-start);
    }
    &-right {
        flex: 1;
        @include flex(center, flex-end);
    }

    &-logo {
        display: inline-block;
        padding: 11px 0;
        color: #fff;
        font-size: 20px;
    }
    &-item-link {
        display: inline-block;
        margin: 10px 30px;
        color: rgba(255,255,255, 0.5);
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
        }

        &.active {
            color: #fff;
            text-decoration: none;
        }
    }

    &-user-link {
        display: flex;
        align-items: center;
        margin: 2px 40px 0;
        color: #fff;

        &:hover {
            text-decoration: none;
        }

        &.active {
            .nav-link-text {
                color: #fff;
                border-bottom-color: #fff;
            }
        }

        &-text {
            display: inline-block;
            color: rgba(255,255,255, 0.5);
            border-bottom: 1px dotted #3a3f41;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 2px;
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                border-bottom-color: #fff;
            }

            .nav-nav-user-link-text {
                color: #fff;
                border-bottom-color: #fff;
            }
        }
    }

    &-middle {
        height: 200px;
        width: 100%;
        @include flex(center, center);
        color: #fff;
    }

    &-bottom {
        height: 80px;
        &-canvas {
            @include size(100%, 50px);

        }
        &-pane {
            height: 30px;
            background-color: #fff;
            box-shadow: $container-shadow;
            border-bottom: 1px solid #e8e8e8;
        }
    }
};

.banner {
    text-align: center;
    font-weight: 500;
    &-title {
        font-size: 2rem;
    }
    &-subtitle {
        font-size: 1.3rem;
        color: #999;
    }
}

.nav-nav-selected-playlist {
    display: inline-block;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-user-popover {
    top: 40px;
    right: 2px;
    width: 200px;
}

.nav-user-popover.popover-content:before {
    top: -7px ;
    right: 14px ;
    border-width: 7px;
    border-bottom: 7px solid #999;
}

.nav-user-popover.popover-content:after {
    top: -6px;
    right: 14px;
    border-width: 7px;
    border-bottom: 7px solid #fff;
}

.nav-user-popover-list {
    list-style: none;
}

.nav-user-popover-item {
    padding: 10px;
    font-size: 11px;
}

.nav-authed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-authed-dot {
    position: absolute;
    bottom: 3px;
    right: -2px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #3a3f41;
    background-color: rgba(166, 210, 165, 0.6);
}

.nav-authed-image {
    width: 29px;
    height: 29px;
    margin-left: 17px;
    border-radius: 100%;
}
