.player {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 999;


    .song-card-details {
        overflow: hidden;
    }

    &-section {
        @include flex(center, flex-start);
        flex: 1;

        &.start {
            justify-content: flex-start;
        }
        &.end {
            justify-content: flex-end;
        }
    }

    &-middle {
        flex: 3;
        @include flex(center, center, column);
        &-section {
            @include flex(center, center);
        }
    }

    &-main {
        @include flex(center, space-between);
        padding: 8px;
    }

    &-info {
        width: 140px;
        &-text {
            font-size: 0.8rem;
        }
        &-user {
            font-size: 0.7rem;
        }
    }
    &-image {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 8px;
        flex-shrink: 0;
    }

    &-button {
        padding: 4px;

        & > i {
            color: #ccc;
        }

        &.active {
            &:hover {
                & i {
                    color: #86AB85;
                }
            }

            & > i {
                color: #A6D2A5;
            }
        }

        &:hover {
            cursor: pointer;

            & > i {
                color: #222;
            }

            .ion-ios-pause {
                color: #86AB85;
            }
        }

        & + .player-button {
            margin-left: 30px;
        }

        .ion-ios-pause {
            color: #A6D2A5;
        }
    }
    &-seek {
        flex: 1;
        color: #ccc;
        font-size: 11px;
        @include flex(center, space-between);
        &-container {
            padding: 6px;
            &:hover {
                .player-seek-duration-bar {
                    background-color: #A6D2A5;
                }
                .player-seek-handle {
                    @include size(13px, 13px);
                }
            }
        }
        &-bar {
            position: relative;
            height: 4px;
            background-color: #ddd;
            @include border-radius(2px, 2px, 2px, 2px);
            &-wrap {
                padding: 6px 0;
                flex: 2;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-duration-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #888;
            @include border-radius(2px, 2px, 2px, 2px);
            &-wrap {
                //track duration only! not for volume bar
                min-width: 400px;
            }
        }
        &-handle {
            position: absolute;
            top: -5px;
            right: -6px;
            @include size(12px, 12px);
            background-color: #fff;
            border-radius: 50%;
            border: 1px solid #e3e3e3;
        }
    }
    &-time {
        margin-left: 30px;

        &-divider {
            margin: 0 10px;
        }
    }
    &-volume {
        margin-left: 30px;
        width: 100px;
        &-button {
            width: 12px;
            &-wrap {
                position: relative;

                .ion-android-volume-up, .ion-android-volume-down {
                    z-index: 0;
                    color: #A6D2A5;
                }

                .ion-android-volume-mute {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    color: #ccc;
                }
            }
        }
    }
}
