.song-card {
    padding: 10px;
    display: flex;

    &.active {
        border-color: #A6D2A5;
    }
}

.song-card-image {
    display: block;
    order: 1;
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        cursor: pointer;
    }
}

.song-card-body {
    position: relative;
    display: block;
    order: 2;
    flex: 1;
    margin-left: 5px;
    padding-left: 5px;
}

.song-card-header {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;

    .toggle-play-button {
        margin-right: 5px;
    }
}

.song-card-title-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.song-card-user {
    display: block;
    width: 100%;
}

.song-card-user-image {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 100%;
    float: left;
}

.song-card-details {
    position: relative;
}

.song-card-user-username {
    display: block;
    margin-right: 30px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-title {
    display: block;
    color: #222;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.song-card-heart {
    position: absolute;
    bottom: -2px;
    right: 0;
    font-size: 14px;
}
